/**
 * Definitions
 */

$articleWidth: 968px;
$articlePaddingTop: 5px;
$articlePaddingLeft: 20px;

$colorBlue: #2f9ec8; 
$colorViolet: #4655ad;
$colorLightBlue: #e6eaee; 
$colorLightViolet: #d2dde3;

/**
 * Imports
 */

@import "mixins";
@import "sprites";

/**
 * Main styles
 */

body {
    color: #333;
}
article {
    $thisWidth: $articleWidth - ($articlePaddingLeft * 2);
    width: $thisWidth;
    margin-left: $thisWidth / -2;
    padding: $articlePaddingTop $articlePaddingLeft;
    position: absolute;
    left: 50%;
    background-color: #f6f5f5;
}
section {
    h1 {
        color: #4654AB;
        font-size: 24px;
        margin: 10px 0;
    }
    h2 {
        font-size: 18px;
    }
    form {
        padding: 0 20px;
        figure {
            display: inline-block;
            margin: 10px 48px;
            width: 194px;
            > img {
                display: block;
                width: 194px;
                margin-bottom: 10px;
            }
            figcaption {
                display: block;
                padding: 10px;
                &.example {
                    background-color: $colorLightBlue;
                    border: 2px solid $colorLightViolet;
                }
                .hint {
                    display: block;
                    font-size: 13px;
                }
                .span2 {
                    width: 60px;
                    margin-left: 10px;
                }
                .status {
                    display: inline-block;
                    vertical-align: bottom;
                    width: 21px;
                    height: 21px;
                    .icon {
                        width: 21px;
                        height: 20px;
                        display: inline-block;
                        &.success {
                            background: sprite($sprite-ico, 'success');
                        }
                        &.fail {
                            background: sprite($sprite-ico, 'fail');
                        }
                    }
                }
            }
        }
    }
    ul.tips {
        width: 700px;
        background-color: $colorLightBlue;
        border: 2px solid $colorLightViolet;
        list-style: none;
        text-align: center;
        margin-left: 68px;
        li {
            font-size: 14px;
            display: inline-block;
            line-height: 30px;
            margin: 0 10px;
        }
    }
    button {
        $btnSize: 36px;
        @include border-radius($btnSize);
        width: $btnSize;
        height: $btnSize;
        background-color: $colorBlue;
        display: block;
        border: none;
        position: absolute;
        cursor: pointer;
        padding: 5px;
        outline: none;
        &.confirm {
            right: 32px;
            bottom: 18px;
            .ico {
                background: sprite($sprite-ico, 'tick_white');
                width: 24px;
                height: 24px;
            }
        }
        &.reset {
            right: 32px;
            bottom: 18px;
            .ico {
                background: sprite($sprite-ico, 'refresh_white');
                width: 24px;
                height: 24px;
            }
        }
        &.prev {
            left: 40px;
            .ico {
                background: sprite($sprite-ico, 'arrow_left_white');
                width: 16px;
                height: 16px;
                margin: 0 5px;
            }
        }
        &.next {
            left: 100px;
            .ico {
                background: sprite($sprite-ico, 'arrow_right_white');
                width: 16px;
                height: 16px;
                margin: 0 8px;
            }
        }
        .ico {
            display: block;
        }
    }
    ul.path {
        list-style: none;
        li.exercise {
            display: inline-block;
            padding: 0;
            &.active {
                ol {
                    border: 4px solid $colorViolet;
                    color: $colorViolet;
                }
            }
            ol {
                display: inline-block;
                border: 4px solid $colorBlue;
                color: $colorBlue;
                padding: 0;
                &.head {
                    $btnSize: 27px;
                    @include border-radius($btnSize);
                    width: $btnSize;
                    height: $btnSize;
                    line-height: $btnSize;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;
                }
                &.spacer {
                    width: 55px;
                    height: 3px;
                    margin: 0 -5px;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                }
                &.task {
                    $btnSize: 11px;
                    @include border-radius($btnSize);
                    width: $btnSize;
                    height: $btnSize;
                    line-height: $btnSize;
                    cursor: pointer;
                }
            }
        }
    }
}