<section>
    <h1>Exercise {{ exercise.group }} {{ exercise.title }}</h1>
    <h2>{{ exercise.description }}</h2>
    <form ng-submit="submit()">
        <figure ng-repeat="task in exercise.tasks">
            <img ng-src="{{ task.img }}">
            <figcaption class="input-prepend" ng-class="{example: task.example}">
                <strong class="hint" ng-show="task.example">Example</strong>
                <strong>{{ $index + 1 }}.</strong>
                <input class="span2" type="text" ng-disabled="task.example" ng-model="task.response">
                <div class="status" ng-switch on="task.status">
                    <i class="icon success" ng-switch-when="success"></i>
                    <i class="icon fail" ng-switch-when="fail"></i>
                </div>
            </figcaption>
        </figure>
        <button class="confirm" type="submit" ng-show="!showReset"><i class="ico"></i></button>
        <button class="reset" type="button" ng-click="reset()" ng-show="showReset"><i class="ico"></i></button>
    </form>
    <ul class="tips">
        <li ng-repeat="task in exercise.tasks | orderBy:'word'">{{ task.word }}</li>
    </ul>
    <button class="prev" type="button" ng-click="goBackward()" ng-class="{disabled: !page.has_prev}"><i class="ico"></i></button>
    <button class="next" type="button" ng-click="goForward()" ng-class="{disabled: !page.has_next}"><i class="ico"></i></button>
    <ul class="path">
        <li class="exercise fake">
            <ol class="spacer"></ol>
            <ol class="spacer"></ol>
            <ol class="spacer"></ol>
        </li>
        <li ng-repeat="exercise in groups" class="exercise active">
            <ol class="spacer" ng-hide="$first"></ol>
            <ol class="head">{{ exercise.group }}</ol>
            <span class="wrapper" ng-repeat="num in exercise.nums">
                <ol class="spacer"></ol>
                <ol class="task" ng-click="getExercise(num )">&nbsp;<i class="active" ng-show="page.current == num"></i></ol>
            </span>
        </li>
    </ul>
</section>