<section>
    <h1>Exercise {{ exercise.num }} {{ exercise.title }}</h1>
    <h2>{{ exercise.description }}</h2>
    <form ng-submit="submit()">
        <figure ng-repeat="task in exercise.tasks">
            <img ng-src="{{ task.img }}">
            <figcaption class="input-prepend" ng-class="{example: task.example}">
                <strong>{{ $index + 1 }}.</strong>
                <input class="span2" type="text" ng-model="task.response">
                <div class="status" ng-switch on="task.status">
                    <i class="icon success" ng-switch-when="success"></i>
                    <i class="icon fail" ng-switch-when="fail"></i>
                </div>
            </figcaption>
        </figure>
        <button class="confirm" type="submit" ng-show="!showReset"><i class="ico"></i></button>
        <button class="reset" type="button" ng-click="reset()" ng-show="showReset"><i class="ico"></i></button>
    </form>
    <ul class="tips">
        <li ng-repeat="task in exercise.tasks | orderBy:'word'">{{ task.word }}</li>
    </ul>
    <button class="prev"><i class="ico"></i></button>
    <button class="next"><i class="ico"></i></button>
    <ul class="path">
        <li class="exercise fake">
            <ol class="spacer"></ol>
            <ol class="spacer"></ol>
            <ol class="spacer"></ol>
        </li>
        <li class="exercise active">
            <ol class="head">1</ol>
            <ol class="spacer"></ol>
            <ol class="task">&nbsp;</ol>
            <ol class="spacer"></ol>
            <ol class="task">&nbsp;</ol>
            <ol class="spacer"></ol>
        </li>
        <li class="exercise">
            <ol class="head">2</ol>
            <ol class="spacer"></ol>
            <ol class="task">&nbsp;</ol>
            <ol class="spacer"></ol>
            <ol class="task">&nbsp;</ol>
        </li>
    </ul>
</section>